body {
  /*background-color: #0099cc;*/
}

header, #circle-nav, main, #did-u-kno, #resources {
  height: 100vh;
  padding:1% 20%;
}

header, #did-u-kno {
  background-color: #eeeeee;
}

header a, #did-u-kno p {
  text-align: center;
  display: block;
  margin-bottom: 50px;
}
h1, h2 {
  font-family: 'Pacifico', cursive;
  text-align: center;
  padding-bottom:50px;
}

h1 {
  font-size: 80px;
  /*color: #00cc99;*/
}

.img-circle {
  border: 7px solid #00cc99;
}

table {
  margin: 0 auto;
  text-align: center;
}

table p {
  font-family: "Arial", sans-serif;
}

td {
  padding: 15px;
  background-color: antiquewhite;
  border-radius: 50%;
  border:0 transparent solid;
  border-width: 5px;
  background-clip:padding-box;
}

#did-u-kno iframe {
  float: left;
  margin-right: 20px;
}

#did-u-kno image {
  float: left;
  top: -100px;
  right: 100px;
}
#resources {
  text-align: left;
}
#resources li {
  display: block;
}

/*#did-u-kno .content {
  background-image: url("../img/girl.png");
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: right;
}*/

footer .links{
  text-align: right;
}

footer a {
  color: #777;
}
