body {
  /*background-color: #0099cc;*/
}

header, #circle-nav, #did-u-kno, #resources {
  height: 100vh;
  padding:1% 20%;
}

header, #did-u-kno {
  background-color: #eeeeee;
}

header a, #did-u-kno p {
  text-align: center;
  display: block;
  margin-bottom: 50px;
}
h1, h2 {
  font-family: 'Pacifico', cursive;
  text-align: center;
  padding-bottom:50px;
}

h1 {
  font-size: 80px;
  /*color: #00cc99;*/
}

.img-circle {
  border: 7px solid #00cc99;
}

#did-u-kno iframe {
  float: left;
  margin-right: 20px;
}

#did-u-kno image {
  float: left;
  top: -100px;
  right: 100px;
}

/*#did-u-kno .content {
  background-image: url("../img/girl.png");
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: right;
}*/
